.toggle-down {
	z-index: 1;
	margin: -3px 0 0;
	padding: 6px 0;
	cursor: pointer;

	.menu-toggle-btn { 
		display: inline-block; 
		vertical-align: middle; 

		span {
			background: $text;
			display: block; 
			width: 30px;
			height: 2px;
			margin-bottom: 8px;
			transition: all 0.3s linear;

			&:last-child {
				margin-bottom: 0; 
			}
		}
	}

	&.toggleDrawer {
		.menu-toggle-btn {
			span {
				&:nth-child(1),
				&:nth-child(2) {
					margin: 0;
					transform: translate(0px, 2px) rotate(-45deg) scalex(1);
					-webkit-transform: translate(0px, 2px) rotate(-45deg) scalex(1);
				}
				&:nth-child(2) {
					transform: translate(0px, 0) rotate(45deg) scalex(1);
					-webkit-transform: translate(0px, 0) rotate(45deg) scalex(1);
				}
			}
		}
	}
}