.slick-initialized {
	.slick-slide {
		outline: 0;
	}

	.slick-arrow {
		display: inline-block;
		color: $primary;
		font-size: 3em;
		text-align: center;
		vertical-align: middle;
		border-radius: 100%;
		cursor: pointer;
		z-index: 1;
		position: absolute;
		top: 50%;
		bottom: initial;
		transform: translate(0, -50%);
		transition: all 0.3s linear;

		&.arrow-prev {
			padding: 0 2px 0 0;
			left: 0;
			right: initial;
		}

		&.arrow-next {
			padding: 0 0 0 2px;
			right: 0;
			left: initial;
		}

		&:hover {
			color: $secondary;
		}
	}
}

.slick-slider {
	.slick-dots {
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;

		li {
			width: auto;
			height: auto;
			margin: 0 auto 16px;
			display: table;

			&:last-child {
				margin-bottom: 0;
			}

			button {
				width: 8px;
				height: 8px;
				border-radius: 100%;
				background-color: transparent;
				border: 1px solid $border-gray;
				padding: 0;

				&:before {
					display: none;
				}
			}

			&.slick-active {
				button {
					background-color: $border-gray;
				}
			}
		}
	}
}

.slick-dotted {
	&.slick-slider {
		margin: 0;
	}
}

.hero-banner {
	.slick-dots {
		display: block;
		width: 20px;
		left: initial;
		right: 8%;
		top: 10%;
		bottom: initial;
	}
}