.jcf-select {
	display: block;
	outline: 0;
	box-shadow: none;
	cursor: pointer;
	// background-color: #f4f4f4;
	text-align: left;
    border: 0;
    padding: 10px 32px 9px 16px;
    height: auto;
    color: $text;
    font-size: 14px;
    margin: 0;
    min-width: 0;
    border-radius: 0;
    border: 1px solid $border-gray;

	// @include breakpoint(tablet) {
	// 	padding: 11px 42px 10px 20px;
	// }


	.jcf-select-text {
		margin: 0;
		cursor: pointer;
		color: $text;
		font-size: 14px;
		line-height: 150%;
	}

	.jcf-select-opener {
		background-color: transparent;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 1.6em;
		color: $text;
		width: auto;
		position: absolute;
		top: 50%;
		bottom: initial;
		left: initial;
		right: 16px;
		pointer-events: none;
		transform: translate(0, -50%);

		&:before {
			content: "\f107";
		}
	}
}

.jcf-focus, 
.jcf-focus * {
	border-color: $tosca!important;
}

.jcf-select-drop {
	.jcf-select-drop-content {
		border: 0;

		.jcf-list {
			// border-radius: 10px;
		    background-color: #f4f4f4;

			.jcf-option {
				font-size: 1.2em;
				height: auto;
				padding: 11px 20px 10px;
				color: $text-darkgray;
			}

			.jcf-hover {
				background-color: $secondary;
				color: $white;
			}

			.jcf-selected {
				background-color: $primary;
				color: $white;
			}
		}

		.jcf-list-content {
			li {
				&:first-child {
					// border-top-right-radius: 10px;
					// border-top-left-radius: 10px;
				}

				&:last-child {
					// border-bottom-right-radius: 10px;
					// border-bottom-left-radius: 10px;
				}
			}
		}
	}
}

body>.jcf-select-drop {
	margin: 5px 0 0;
}