.hero-banner {
	padding: 0;
	position: relative;

	.scroll-down {
		position: absolute;
		top: initial;
		bottom: 10px;
		left: 50%;
		right: initial;
		display: inline-block;
		font-size: 1.1em;
		padding: 10px;
		color: $text;
		z-index: 2;
		transform: translate(-50%, 0);

		&:hover {
			color: $secondary;
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}

		i {
			font-size: 1.6em;
			vertical-align: middle;
			margin: 0 0 0 5px;
		}
	}

	.wrapper {
		padding: 60px 0;
		// position: absolute;
		// top: initial;
		// left: 16px;
		// right: 16px;
		// bottom: 10%;
		// z-index: 1;
	}

	.slider-banner {
		position: relative;
		// height: 0;
		// padding: 0 0 9.38%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.container {
			// position: absolute;
			// top: initial;
			// left: 0;
			// right: 0;
			// bottom: 0;
		}
		
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.2);
			z-index: 0;
			pointer-events: none;
		}

		.desc-info {
			h3 {
				margin: 0;
				line-height: 140%;
				margin: 0 0 10px;
				color: $dark-black;
				font-size: 3em;
				font-family: poppins-semibold;
			}

			h5 {
				text-transform: uppercase;
				color: $white;
				margin: 0 0 8px;
				letter-spacing: 1pt;
				line-height: 130%;
				display: inline-block;
				position: relative;
				font-size: 0.9em;
				text-shadow: 0 1px 15px rgba(54,54,54,0.8);

				&:after {
					content: "";
					position: relative;
					height: 1px;
					background-color: currentColor;
					display: inline-block;
					width: 40px;
					bottom: 4px;
					left: 4px;
					box-shadow: 0 1px 15px rgba(54,54,54,0.8);
				}
			}

			h6 {
				color: $dark-black;
				line-height: 150%;
				margin: 0;
				letter-spacing: 1pt;
				font-size: 2em;
			}

			.button-area {
				margin: 24px 0 0;
				display: table;
				width: 100%;

				@include breakpoint(tablet) {
					display: block;
				}

				li {
					width: 50%;
					margin: 0;
					padding: 0 8px 0 0;

					@include breakpoint(tablet) {
						width: auto;
					}

					&:last-child {
						padding: 0 0 0 8px;
					}
				}

				.download-button {
					display: inline-block;
					width: 100%;
					height: 50px;
					text-indent: -6666em;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					
					@include breakpoint(tablet) {
						width: 170px;
					}

					&.google {
						background-image: url('../img/mcd_button_playstore.png');
					}
					&.appstore {
						background-image: url('../img/mcd_button_appstore.png');
					}
				}
			}
		}
	}
}