@@include('../Shared/header.html')

<div class="detail-warehouse">

	<section class="banner-detail-warehouse">
		<div class="container">
			<div class="row row-15">
				<div class="col-md-7">
					<div class="detail-warehouse-slider">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
					</div>
					<div class="detail-warehouse-slider-thumb">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
					</div>
					<div class="detail-warehouse-slider-cta">
						<a href="javascript:void(0)" title=""><i class="fa fa-heart fa-2x"></i></a>
						<a href="javascript:void(0)" title=""><i class="fa fa-envelope fa-2x"></i></a>
					</div>
				</div>
				<div class="col-md-5">
					<div class="detail-warehouse-caption">
						<h1>Nama Warehouse</h1>
						<div class="type-warehouse">
							<i class="fa fa-circle"></i> Frozen Type
						</div>
						<div class="status-warehouse">
							Today Warehouse <a href="javascript:void(0)" title="OPEN">OPEN <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="rating-warehouse">
							<i class="fa fa-star"></i> <strong>7.5</strong>/10 | <strong>25 Ulasan</strong>
						</div>
						<address class="location-warehouse">
							<i class="fa fa-map-marker"></i> Jl. Lorem Ipsum dolor sit amet. no.56<br>
							<strong>25 Km</strong> from City Center | <strong><i class="fa fa-truck"></i> Up to Golongan IV</strong>
						</address>
						<a href="javascript:void(0)" class="job-transaction-warehouse">
							Memiliki <strong>1200 Jobs</strong>, dengan tingkat transaksi <strong>98%</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="detail-warehouse-filter">
		<div class="container">
			<div class="well">
				<img src="http://via.placeholder.com/32x32"> Carefully read the warehouse detail, and policy before rent it
			</div>

			<div class="row row-15">
				<div class="col-md-12">
					<h2>
						<img src="http://via.placeholder.com/32x32"> Product mix based on your search
						<span>Admin, give you a discount!</span>
					</h2>
				</div>

				<div class="col-md-12">
					<form class="form-filter clearfix">
						<div class="form-group">
							<div class="row row-5">
								<div class="col-md-4">
									<img src="http://via.placeholder.com/80x80">
								</div>
								<div class="col-md-8">
									<label>
										From Date
									</label>
									<div class="input-text">
										<input type="text" class="form-control datepicker">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row row-5">
								<div class="col-md-4">
									<img src="http://via.placeholder.com/80x80">
								</div>
								<div class="col-md-8">
									<label>
										End Date
									</label>
									<div class="input-text">
										<input type="text" class="form-control datepicker">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row row-5">
								<div class="col-md-4">
									<img src="http://via.placeholder.com/80x80">
								</div>
								<div class="col-md-8">
									<label>
										Duration
									</label>
									<div class="row row-5">
										<div class="col-md-4">
											<div class="input-text">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<select>
												<option value="0">Hari</option>
												<option value="1">Minggu</option>
												<option value="2">Bulan</option>
												<option value="3">Tahun</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row row-5">
								<div class="col-md-12">
									<button type="button">Change Search</button>
								</div>
							</div>
						</div>
					</form>

					<div class="row row-15 sub-filter">
						<div class="col-md-6">
							<input type="text" name="" class="form-control"><i class="fa fa-search"></i>
						</div>
						<div class="col-md-6 clearfix">
							<div class="pull-right">
								Sort By
								<select name="">
									<option value="0">lorem</option>
									<option value="1">ipsum</option>
									<option value="2">dolor</option>
									<option value="3">sit</option>
								</select>
								<button type="button">Filter <i class="fa fa-filter"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="product-mix">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Judul Entire Product Mix 1
					</h3>
				</div>
				<div class="panel-body">
					<div class="row row-15">
						<div class="col-md-4">
							<div class="row row-5">
								<div class="col-md-6">
									<img src="http://via.placeholder.com/120x120" class="img-responsive">
								</div>
								<div class="col-md-6">
									<dl>
										<dt>Pallet Position : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Rak</dd>

										<dt>Rent Type : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Entire</dd>

										<dt>Storage Method : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Single Stacked</dd>
									</dl>
								</div>
							</div>
							<div class="row row-5">
								<div class="col-md-12">
									<dl>
										<dt>p x l x t : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>1.5 m<sup>2</sup> x 1.5 m<sup>2</sup> x 1.5 m<sup>2</sup></dd>

										<dt>Maximum weight : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>100.000 kg</dd>

										<dt>Temperature : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>-100<sup>c</sup> - -1<sup>c</sup></dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<dl>
								<dt>Price</dt>
								<dd>
									<strong class="price">
										Rp. 123,00
									</strong>
									<select>
										<option value="0">per day</option>
										<option value="1">per week</option>
										<option value="2">per month</option>
										<option value="3">per year</option>
									</select>
								</dd>
							</dl>
							<hr>
							<dl>
								<dt>Handling fee <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									Rp. 50
									<small><em><sup>*only charge if activate handling</sup></em></small>
								</dd>
							</dl>
						</div>
						<div class="col-md-3">
							<dl>
								<dt>Pallet Quantity <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="form-group">
										<input type="number" name="" class="form-control">
									</div>
									<small><em>Maximum Pallet Quantity <strong>100.000 pallet</strong></em></small>
								</dd>

								<dt>Handling By <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="switch">
										<input type="radio" name="switch" value="penyedia" id="penyedia" checked>
										<label for="penyedia">Penyedia</label>
										<input type="radio" name="switch" value="Penyewa" id="Penyewa">
										<label for="Penyewa">Penyewa</label>
									</div>
								</dd>
							</dl>
						</div>
						<div class="col-md-3">
							<div class="count">
								<ul class="list-unstyled">
									<li class="text-right">
										Rp. 123.000
										<small><em>Jumlah Pallet x Harga</em></small>
									</li>
									<li class="text-right">
										Rp. 123
										<small><em>Handling Fee</em></small>
									</li>
								</ul>
								<span>+</span>
								<div class="count-total clearfix">
									<div class="pull-left">
										Total
									</div>
									<div class="pull-right">
										<strong>
											Rp. 123.123
										</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

@@include('../Shared/footer.html')