@@include('../Shared/header.html')

<div class="detail-warehouse">

	<section class="banner-detail-warehouse">
		<div class="container">
			<div class="row row-15">
				<div class="col-md-7">
					<div class="detail-warehouse-slider">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
					</div>
					<div class="detail-warehouse-slider-thumb">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
					</div>
					<div class="detail-warehouse-slider-cta">
						<a href="javascript:void(0)" title=""><i class="fa fa-heart fa-2x"></i></a>
						<a href="javascript:void(0)" title=""><i class="fa fa-envelope fa-2x"></i></a>
					</div>
				</div>
				<div class="col-md-5">
					<div class="detail-warehouse-caption">
						<h1>Nama Warehouse</h1>
						<div class="type-warehouse">
							<i class="fa fa-circle"></i> Frozen Type
						</div>
						<div class="status-warehouse">
							Today Warehouse <a href="javascript:void(0)" title="OPEN">OPEN <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="rating-warehouse">
							<i class="fa fa-star"></i> <strong>7.5</strong>/10 | <strong>25 Ulasan</strong>
						</div>
						<address class="location-warehouse">
							<i class="fa fa-map-marker"></i> Jl. Lorem Ipsum dolor sit amet. no.56<br>
							<strong>25 Km</strong> from City Center | <strong><i class="fa fa-truck"></i> Up to Golongan IV</strong>
						</address>
						<a href="javascript:void(0)" class="job-transaction-warehouse">
							Memiliki <strong>1200 Jobs</strong>, dengan tingkat transaksi <strong>98%</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="detail-warehouse-filter">
		<div class="container">
			<div class="well">
				<img src="http://via.placeholder.com/32x32"> Carefully read the warehouse detail, and policy before rent it
			</div>

			<div class="row row-15">
				<div class="col-md-12">
					<h2>
						<img src="http://via.placeholder.com/32x32"> Product mix based on your search
						<span>Admin, give you a discount!</span>
					</h2>
				</div>

				<div class="col-md-12">
					<form class="form-filter clearfix">
						<div class="form-group">
							<div class="row row-5">
								<div class="col-md-4">
									<img src="http://via.placeholder.com/80x80">
								</div>
								<div class="col-md-8">
									<label>
										From Date
									</label>
									<div class="input-text">
										<input type="text" class="form-control datepicker">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row row-5">
								<div class="col-md-4">
									<img src="http://via.placeholder.com/80x80">
								</div>
								<div class="col-md-8">
									<label>
										End Date
									</label>
									<div class="input-text">
										<input type="text" class="form-control datepicker">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row row-5">
								<div class="col-md-4">
									<img src="http://via.placeholder.com/80x80">
								</div>
								<div class="col-md-8">
									<label>
										Duration
									</label>
									<div class="row row-5">
										<div class="col-md-4">
											<div class="input-text">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<select>
												<option value="0">Hari</option>
												<option value="1">Minggu</option>
												<option value="2">Bulan</option>
												<option value="3">Tahun</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row row-5">
								<div class="col-md-12">
									<button type="button">Change Search</button>
								</div>
							</div>
						</div>
					</form>

					<div class="row row-15 sub-filter">
						<div class="col-md-6">
							<input type="text" name="" class="form-control"><i class="fa fa-search"></i>
						</div>
						<div class="col-md-6 clearfix">
							<div class="pull-right">
								Sort By
								<select name="">
									<option value="0">lorem</option>
									<option value="1">ipsum</option>
									<option value="2">dolor</option>
									<option value="3">sit</option>
								</select>
								<button type="button">Filter <i class="fa fa-filter"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="product-mix">
		<div class="container">
			<div class="panel panel-default panel-entire-product">
				<div class="panel-heading">
					<h3 class="panel-title">
						Judul Entire Product Mix 1
					</h3>
				</div>
				<div class="panel-body">
					<div class="row row-15">
						<div class="col-md-4 col-same-height">
							<div class="row row-5">
								<div class="col-md-6">
									<img src="http://via.placeholder.com/120x120" class="img-responsive">
								</div>
								<div class="col-md-6">
									<dl>
										<dt>Pallet Position : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Rak</dd>

										<dt>Rent Type : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Entire</dd>

										<dt>Storage Method : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Single Stacked</dd>
									</dl>
								</div>
							</div>
							<div class="row row-5">
								<div class="col-md-12">
									<dl>
										<dt>p x l x t : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>1.5 m<sup>2</sup> x 1.5 m<sup>2</sup> x 1.5 m<sup>2</sup></dd>

										<dt>Maximum weight : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>100.000 kg</dd>

										<dt>Temperature : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>-100<sup>c</sup> - -1<sup>c</sup></dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-same-height">
							<dl>
								<dt>Price</dt>
								<dd>
									<strong class="price">
										Rp. 123,00
									</strong>
									<select>
										<option value="0">per day</option>
										<option value="1">per week</option>
										<option value="2">per month</option>
										<option value="3">per year</option>
									</select>
								</dd>
							</dl>
							<hr>
							<dl>
								<dt>Handling fee <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									Rp. 50
									<small><em><sup>*only charge if activate handling</sup></em></small>
								</dd>
							</dl>
						</div>
						<div class="col-md-3 col-same-height">
							<dl>
								<dt>Pallet Quantity <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="form-group">
										<input type="number" name="" class="form-control">
									</div>
									<small><em>Maximum Pallet Quantity <strong>100.000 pallet</strong></em></small>
								</dd>

								<dt>Handling By <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="switch">
										<input type="radio" name="switchEntire" value="Penyedia" id="penyediaEntire" checked>
										<label for="penyediaEntire">Penyedia</label>
										<input type="radio" name="switchEntire" value="Penyewa" id="penyewaEntire">
										<label for="penyewaEntire">Penyewa</label>
									</div>
								</dd>
							</dl>
						</div>
						<div class="col-md-3 col-same-height">
							<div class="count">
								<ul class="list-unstyled">
									<li class="text-right">
										Rp. 123.000
										<small><em>Jumlah Pallet x Harga</em></small>
									</li>
									<li class="text-right">
										Rp. 123
										<small><em>Handling Fee</em></small>
									</li>
								</ul>
								<span>+</span>
								<div class="count-total clearfix">
									<div class="pull-left">
										Total
									</div>
									<div class="pull-right">
										<strong>
											Rp. 123.123
										</strong>
									</div>
								</div>
							</div>

							<div class="checkbox">
								<label>
									<input type="checkbox" checked> <strong>Add This</strong>
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-footer">
					<strong>
						<img src="http://via.placeholder.com/32x32"> Penyewa Meninggalkan Pesan !
					</strong>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>

			<div class="panel panel-default panel-dedicated-product">
				<div class="panel-heading">
					<h3 class="panel-title">
						Judul Dedicated Product Mix 1
					</h3>
				</div>
				<div class="panel-body">
					<div class="row row-15">
						<div class="col-md-4 col-same-height">
							<div class="row row-5">
								<div class="col-md-6">
									<img src="http://via.placeholder.com/120x120" class="img-responsive">
								</div>
								<div class="col-md-6">
									<dl>
										<dt>Pallet Position : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Rak</dd>

										<dt>Rent Type : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Dedicated</dd>

										<dt>Storage Method : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Double Stacked</dd>
									</dl>
								</div>
							</div>
							<div class="row row-5">
								<div class="col-md-12">
									<dl>
										<dt>p x l x t : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>1.5 m<sup>2</sup> x 1.5 m<sup>2</sup> x 125 m<sup>2</sup></dd>

										<dt>Maximum weight : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>100.000 kg</dd>

										<dt>Temperature : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>-100<sup>c</sup> - -1<sup>c</sup></dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-same-height">
							<dl>
								<dt>Price</dt>
								<dd>
									<strong class="price">
										Rp. 120,00
									</strong>
									<select>
										<option value="0">per day</option>
										<option value="1">per week</option>
										<option value="2">per month</option>
										<option value="3">per year</option>
									</select>
								</dd>
							</dl>
							<hr>
							<dl>
								<dt>Handling fee <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									Rp. 50
									<small><em><sup>*only charge if activate handling</sup></em></small>
								</dd>
							</dl>
						</div>
						<div class="col-md-3 col-same-height">
							<dl>
								<dt>Pallet Quantity <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="form-group">
										<input type="number" name="" class="form-control">
									</div>
									<small><em>Maximum Pallet Quantity <strong>100.000 pallet</strong></em></small>
								</dd>

								<dt>Handling By <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="switch">
										<input type="radio" name="switchDedicated" value="penyedia" id="penyediaDedicated" checked>
										<label for="penyediaDedicated">Penyedia</label>
										<input type="radio" name="switchDedicated" value="penyewa" id="penyewaDedicated">
										<label for="penyewaDedicated">Penyewa</label>
									</div>
								</dd>
							</dl>
						</div>
						<div class="col-md-3 col-same-height">
							<div class="checkbox">
								<label>
									<input type="checkbox"> <strong>Add This</strong>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default panel-share-product">
				<div class="panel-heading">
					<h3 class="panel-title">
						Judul Share Product Mix 1
					</h3>
				</div>
				<div class="panel-body">
					<div class="row row-15">
						<div class="col-md-4 col-same-height">
							<div class="row row-5">
								<div class="col-md-6">
									<img src="http://via.placeholder.com/120x120" class="img-responsive">
								</div>
								<div class="col-md-6">
									<dl>
										<dt>Pallet Position : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Floor</dd>

										<dt>Rent Type : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Share</dd>

										<dt>Storage Method : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Double Stacked</dd>
									</dl>
								</div>
							</div>
							<div class="row row-5">
								<div class="col-md-12">
									<dl>
										<dt>p x l x t : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>10 m<sup>2</sup> - 100 m<sup>2</sup></dd>

										<dt>Maximum weight : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>100.000 kg</dd>

										<dt>Temperature : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>-100<sup>c</sup> - -1<sup>c</sup></dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-same-height">
							<dl>
								<dt>Price</dt>
								<dd>
									<strong class="price">
										Rp. 103,00
									</strong>
									<select>
										<option value="0">per day</option>
										<option value="1">per week</option>
										<option value="2">per month</option>
										<option value="3">per year</option>
									</select>
								</dd>
							</dl>
							<hr>
							<dl>
								<dt>Handling fee <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									Rp. 50
									<small><em><sup>*only charge if activate handling</sup></em></small>
								</dd>
							</dl>
						</div>
						<div class="col-md-3 col-same-height">
							<dl>
								<dt>Space need <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="form-group">
										<input type="number" name="" class="form-control">
										<span class="size">m<sup>2</sup></span>
									</div>
								</dd>

								<dt>Handling By <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="switch">
										<input type="radio" name="switchShare" value="penyedia" id="penyediaShare" checked>
										<label for="penyediaShare">Penyedia</label>
										<input type="radio" name="switchShare" value="penyewa" id="penyewaShare">
										<label for="penyewaShare">Penyewa</label>
									</div>
								</dd>
							</dl>
						</div>
						<div class="col-md-3 col-same-height">
							<div class="checkbox">
								<label>
									<input type="checkbox"> <strong>Add This</strong>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default panel-tank-product">
				<div class="panel-heading">
					<h3 class="panel-title">
						Judul Tank Product Mix 1
					</h3>
				</div>
				<div class="panel-body">
					<div class="row row-15">
						<div class="col-md-4 col-same-height">
							<div class="row row-5">
								<div class="col-md-6">
									<img src="http://via.placeholder.com/120x120" class="img-responsive">
								</div>
								<div class="col-md-6">
									<dl>
										<dt>Pallet Position : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Tank</dd>

										<dt>Rent Type : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Share</dd>

										<dt>Dimension : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Horizontal</dd>
									</dl>
								</div>
							</div>
							<div class="row row-5">
								<div class="col-md-12">
									<dl>
										<dt>Capacity : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>5000 L</dd>

										<dt>Refrigerated : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Refrigerated</dd>

										<dt>Temperature : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>-100<sup>c</sup> - -1<sup>c</sup></dd>

										<dt>Jenis Produk : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Oli</dd>

										<dt>Maximum Mass : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>5000 kg</dd>

										<dt>Inlet : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Bottom</dd>

										<dt>Outlet : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Top</dd>

										<dt>Atex Certification : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
										<dd>Yes</dd>
									</dl>

									<a class="product-more-feature" role="button" data-toggle="collapse" href="#tank-more" aria-expanded="false" aria-controls="collapseExample">
										See Additional Features <i class="fa fa-angle-up"></i>
									</a>
									<div class="collapse in" id="tank-more">
										<dl>
											<dt>Flowmeter : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
											<dd>Yes</dd>

											<dt>Pipeline : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
											<dd>Yes</dd>

											<dt>Jetty Area : <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
											<dd>Yes</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-same-height">
							<dl>
								<dt>Price</dt>
								<dd>
									<strong class="price">
										Rp. 103,00
									</strong>
									<select>
										<option value="0">per day</option>
										<option value="1">per week</option>
										<option value="2">per month</option>
										<option value="3">per year</option>
									</select>
								</dd>
							</dl>
							<hr>
							<dl>
								<dt>Handling fee <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									Rp. 50
									<small><em><sup>*only charge if activate handling</sup></em></small>
								</dd>
							</dl>
						</div>
						<div class="col-md-3 col-same-height">
							<dl>
								<dt>Handling By <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></dt>
								<dd>
									<div class="switch">
										<input type="radio" name="switchTank" value="penyedia" id="penyediaTank" checked>
										<label for="penyediaTank">Penyedia</label>
										<input type="radio" name="switchTank" value="penyewa" id="penyewaTank">
										<label for="penyewaTank">Penyewa</label>
									</div>
								</dd>
							</dl>
						</div>
						<div class="col-md-3 col-same-height">
							<div class="checkbox">
								<label>
									<input type="checkbox"> <strong>Add This</strong>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="see-more">
				<a href="javascript:void(0)" title="Tampilkan Product Mix Lain">Tampilkan Product Mix Lain <i class="fa fa-chevron-down"></i></a>
			</div>
		</div>
	</section>

	<section class="detail-order">
		<div class="container">
			<div class="row row-15">
				<div class="col-md-6">
					<h4>
						Pesanan anda <span>3 Tipe</span> Product Mix
					</h4>
					<p>
						From <strong>1 July 2017 to 22 October 2017, 5 weeks duration</strong>
					</p>
				</div>
				<div class="col-md-3 text-right">
					<h4>
						Rp. 456.456
					</h4>
					<em>
						Exclude Pajak dan hanya jumlah perhari
					</em>
				</div>
				<div class="col-md-3">
					<a href="javascript:void(0)" class="button">Rent This Warehouse</a>
					<p>
						Hanya berupa perkiraan pembayaran <sup><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></sup>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="detail-calculator">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<dl>
						<dt>Kalkulator</dt>
						
						<dd class="row row-15">
							<div class="col-md-6">
								Share Product Mix 1
							</div>
							<div class="col-md-6 text-right">
								Rp. 123.123
							</div>
						</dd>
						<dd class="row row-15">
							<div class="col-md-6">
								Share Product Mix 2
							</div>
							<div class="col-md-6 text-right">
								Rp. 123.123
							</div>
						</dd>
						<dd class="row row-15">
							<div class="col-md-6">
								Entire Product Mix 3
							</div>
							<div class="col-md-6 text-right">
								Rp. 123.123
							</div>
						</dd>
					</dl>
					<hr>
					<div class="total-calculator row row-15">
						<div class="col-md-6">
							Total
						</div>
						<div class="col-md-6 text-right">
							Rp. 456.456
						</div>
					</div>
				</div>
			</div>

			<div class="text-center detail-rent">
				<a href="javascript:void(0)" class="button">Rent This Warehouse</a>
				<p>
					Hanya berupa perkiraan pembayaran <sup><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Lorem Ipsum"></i></sup>,<br>
					Exclude Pajak dan jumlah perhari
				</p>
			</div>
		</div>
	</section>

	<section class="detail-tabs">
		<div class="container">
			<div class="row row-15">
				<div class="col-md-12">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detail</a></li>
						<li role="presentation"><a href="#statistik" aria-controls="statistik" role="tab" data-toggle="tab">Statistik</a></li>
						<li role="presentation"><a href="#lokasi" aria-controls="lokasi" role="tab" data-toggle="tab">Lokasi</a></li>
						<li role="presentation"><a href="#ulasan" aria-controls="ulasan" role="tab" data-toggle="tab">Ulasan</a></li>
						<li role="presentation"><a href="#ketentuan" aria-controls="ketentuan" role="tab" data-toggle="tab">Ketentuan</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="detail">
							<div class="row row-15">
								<div class="col-md-12">
									<dl>
										<dt>Deskripsi</dt>
										<dd>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</p>
										</dd>
									</dl>
								</div>
							</div>
							<div class="row row-15">
								<div class="col-md-6">
									<dl>
										<dt>Operation Hour</dt>
										<dd>
											<div class="row row-15">
												<div class="col-md-6">
													Sunday
												</div>
												<div class="col-md-6">
													<strong>Warehouse is Closed</strong>
												</div>
											</div>
										</dd>
										<dd>
											<div class="row row-15">
												<div class="col-md-6">
													Monday
												</div>
												<div class="col-md-6">
													<strong>09.00-19.00</strong>
												</div>
											</div>
										</dd>
										<dd>
											<div class="row row-15">
												<div class="col-md-6">
													Tuesday
												</div>
												<div class="col-md-6">
													<strong>09.00-19.00</strong>
												</div>
											</div>
										</dd>
										<dd>
											<div class="row row-15">
												<div class="col-md-6">
													Wednesday
												</div>
												<div class="col-md-6">
													<strong>09.00-19.00</strong>
												</div>
											</div>
										</dd>
										<dd>
											<div class="row row-15">
												<div class="col-md-6">
													Thursday
												</div>
												<div class="col-md-6">
													<strong>09.00-19.00</strong>
												</div>
											</div>
										</dd>
										<dd>
											<div class="row row-15">
												<div class="col-md-6">
													Friday
												</div>
												<div class="col-md-6">
													<strong>09.00-19.00</strong>
												</div>
											</div>
										</dd>
										<dd>
											<div class="row row-15">
												<div class="col-md-6">
													Saturday
												</div>
												<div class="col-md-6">
													<strong>09.00-19.00</strong>
												</div>
											</div>
										</dd>
										<dd>
											<i class="fa fa-exclamation-circle"></i> We are close on Public Holiday
										</dd>
									</dl>
								</div>
								<div class="col-md-6">
									<dl>
										<dt>Turn Around Time</dt>
										<dd>
											<strong>22 Hours</strong>
										</dd>
									</dl>
								</div>
							</div>
							<hr>
							<div class="row row-15">
								<div class="col-md-12">
									<dl class="row row-15">
										<dt class="col-md-12">
											Criteria
										</dt>

										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Pusat Logistik Berikat
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Food Grade
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Other Certification
												</div>
												<div class="col-md-6">
													<strong>Lorem</strong>
													<strong>Lorem 1</strong>
													<strong>Lorem 2</strong>
													<strong>Lorem 3</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Foreign Trade Zone
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Organic
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Security
												</div>
												<div class="col-md-6">
													<strong>Fire Extinguiser</strong>
													<strong>Guards</strong>
													<strong>Security Camera</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Dock High Doors
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Halal Certified
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
									</dl>
								</div>
							</div>
							<hr>
							<div class="row row-15">
								<div class="col-md-12">
									<dl>
										<dt>Prohibited Item</dt>
										<dd>
											<div class="row row-15">
												<div class="col-md-2">
													<strong>
														<i class="fa fa-circle"></i> 010121
													</strong>
												</div>
												<div class="col-md-10">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
													tempor incididunt ut labore et dolore magna aliqua.
												</div>
											</div>
										</dd>
										<dd>
											<div class="row row-15">
												<div class="col-md-2">
													<strong>
														<i class="fa fa-circle"></i> 021093
													</strong>
												</div>
												<div class="col-md-10">
													Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
												</div>
											</div>
										</dd>
										<dd>
											<div class="row row-15">
												<div class="col-md-2">
													<strong>
														<i class="fa fa-circle"></i> 021099
													</strong>
												</div>
												<div class="col-md-10">
													Duis aute irure dolor in reprehenderit in voluptate velit esse
													cillum dolore eu fugiat nulla pariatur.
												</div>
											</div>
										</dd>
									</dl>
								</div>
							</div>
							<hr>
							<div class="row row-15">
								<div class="col-md-12">
									<dl class="row row-15">
										<dt class="col-md-12">
											Extra Service
										</dt>

										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Cartoon Pick
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Transportation Service
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Insurance
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Palletization
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Kitting / Assembling
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Cloud WMS
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Pallet Rebuild
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Breakdown
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
										<dd class="col-md-4">
											<div class="row row-15">
												<div class="col-md-6">
													Cross Dock
												</div>
												<div class="col-md-6">
													<strong>Yes</strong>
												</div>
											</div>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="statistik">
							<div class="row">
								<div class="col-md-4">
									<h4>Total Job</h4>
									<strong>
										1.200
									</strong>
									<small>
										Total Jobs until 22/07/2017
									</small>
								</div>
								<div class="col-md-4">
									<h4>Job Transaction</h4>
									<strong>
										98 %
									</strong>
									<small>Success Job Transaction</small>
								</div>
								<div class="col-md-4">
									<h4>Jumlah Sewa Pallet</h4>
									<strong>12.000</strong>
									<small>Total Pallet Until 22/07/2017</small>
								</div>
								<div class="col-md-4">
									<h4>Presentasi Pesan dibalas</h4>
									<strong>
										100%
									</strong>
									<small>Success Job Transaction</small>
								</div>
								<div class="col-md-8 time">
									<h4>Rata-rata waktu reply</h4>
									<span>
										<strong>
											00:00:11:
										</strong>
										<small class="clearfix">
											<span>Hari</span>
											<span>Jam</span>
											<span>Menit</span>
										</small>
									</span>
									<span>per pesan</span>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="lokasi">
							<div class="row row-15">
								<div class="col-md-12">
									<div class="gmap">
										<div id="map"></div>
										<div class="overlay">
											<div class="row">
												<div class="col-md-8">
													<i class="fa fa-map-marker"></i> <strong>25 Km</strong> from City Center
												</div>
												<div class="col-md-4 text-right">
													<a href="javascript:void(0)" class="button">See Google Map</a>
												</div>
											</div>
										</div>
									</div>
									<!-- MAP SCRIPT -->
									<script>
										function initMap() {
											var jakarta = {lat: -6.1753924, lng: 106.8249641};
											var map = new google.maps.Map(document.getElementById('map'), {
												zoom: 14,
												center: jakarta,
												scrollwheel: false,
												mapTypeId: google.maps.MapTypeId.ROADMAP
											});
											var marker = new google.maps.Marker({
												position: jakarta,
												map: map
											});
										}
									</script>
									<script async defer
									src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKWsizosRMULo8gpK0Z1ZMDnXZithKRN8&callback=initMap">
									</script>
									<!-- MAP SCRIPT -->

									<div class="map-description">
										<dl>
											<dt>Akses Kendaraan</dt>
											<dd class="row row-15">
												<div class="col-md-2">
													<div class="checkbox">
														<label>
															<input type="checkbox"> Golongan I
														</label>
													</div>
												</div>
												<div class="col-md-2">
													<div class="checkbox">
														<label>
															<input type="checkbox"> Golongan II
														</label>
													</div>
												</div>
												<div class="col-md-2">
													<div class="checkbox">
														<label>
															<input type="checkbox"> Golongan III
														</label>
													</div>
												</div>
												<div class="col-md-2">
													<div class="checkbox">
														<label>
															<input type="checkbox"> Golongan IV
														</label>
													</div>
												</div>
												<div class="col-md-2">
													<div class="checkbox">
														<label>
															<input type="checkbox"> Golongan V
														</label>
													</div>
												</div>
												<div class="col-md-2">
													<div class="checkbox">
														<label>
															<input type="checkbox"> Golongan VI
														</label>
													</div>
												</div>
											</dd>
										</dl>

										<dl class="row row-15">
											<dt class="col-md-12">Fasilitas Terdekat</dt>
											<dd class="col-md-6">
												<dl>
													<dt><i class="fa fa-beer fa-lg"></i></dt>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Pompa Bensin Lorem 1
															</div>
															<div class="col-md-6">
																<span>2.5 Km</span> From Site
															</div>
														</div>
													</dd>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Pompa Bensin Lorem 2
															</div>
															<div class="col-md-6">
																<span>8.5 Km</span> From Site
															</div>
														</div>
													</dd>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Pompa Bensin Lorem 3
															</div>
															<div class="col-md-6">
																<span>1.5 Km</span> From Site
															</div>
														</div>
													</dd>
												</dl>
											</dd>

											<dd class="col-md-6">
												<dl>
													<dt><i class="fa fa-road fa-lg"></i></dt>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Pintu Tol Lorem
															</div>
															<div class="col-md-6">
																<span>2.5 Km</span> From Site
															</div>
														</div>
													</dd>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Pintu Tol Ipsum
															</div>
															<div class="col-md-6">
																<span>8.5 Km</span> From Site
															</div>
														</div>
													</dd>
												</dl>
											</dd>

											<dd class="col-md-6">
												<dl>
													<dt><i class="fa fa-cutlery fa-lg"></i></dt>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Rm. Minang Lorem
															</div>
															<div class="col-md-6">
																<span>2.5 Km</span> From Site
															</div>
														</div>
													</dd>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Rm. Minang Lorem Ipsum
															</div>
															<div class="col-md-6">
																<span>8.5 Km</span> From Site
															</div>
														</div>
													</dd>
												</dl>
											</dd>

											<dd class="col-md-6">
												<dl>
													<dt><i class="fa fa-wrench fa-lg"></i></dt>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Bengkel Lorem Ipsum
															</div>
															<div class="col-md-6">
																<span>2.5 Km</span> From Site
															</div>
														</div>
													</dd>
												</dl>
											</dd>

											<dd class="col-md-6">
												<dl>
													<dt><i class="fa fa-cog fa-lg"></i></dt>
													<dd>
														<div class="row row-15">
															<div class="col-md-6">
																Lorem Ipsum
															</div>
															<div class="col-md-6">
																<span>2.5 Km</span> From Site
															</div>
														</div>
													</dd>
												</dl>
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="ulasan">
							<div class="rating row row-15">
								<h4>Rating</h4>
								<div class="col-md-3 text-center">
									<small>Rata-rata Penilaian</small>
									<strong>3.7</strong>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="col-md-9">
									<div class="row row-15">
										<div class="col-md-6">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="ketentuan">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

@@include('../Shared/footer.html')