@@include('../Shared/header.html')

<div class="detail-warehouse">

	<section class="banner-detail-warehouse">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="detail-warehouse-slider">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
						<img src="http://via.placeholder.com/1366x768">
					</div>
					<div class="detail-warehouse-slider-thumb">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
						<img src="http://via.placeholder.com/32x32">
					</div>
					<div class="detail-warehouse-slider-cta">
						<a href="javascript:void(0)" title=""><i class="fa fa-heart fa-2x"></i></a>
						<a href="javascript:void(0)" title=""><i class="fa fa-envelope fa-2x"></i></a>
					</div>
				</div>
				<div class="col-md-5">
					<div class="detail-warehouse-caption">
						<h1>Nama Warehouse</h1>
						<div class="type-warehouse">
							<i class="fa fa-circle"></i> Frozen Type
						</div>
						<div class="status-warehouse">
							Today Warehouse <a href="javascript:void(0)" title="OPEN">OPEN <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="rating-warehouse">
							<i class="fa fa-star"></i> <strong>7.5</strong>/10 | <strong>25 Ulasan</strong>
						</div>
						<address class="location-warehouse">
							<i class="fa fa-map-marker"></i> Jl. Lorem Ipsum dolor sit amet. no.56<br>
							<strong>25 Km</strong> from City Center | <strong><i class="fa fa-truck"></i> Up to Golongan IV</strong>
						</address>
						<a href="javascript:void(0)" class="job-transaction-warehouse">
							Memiliki <strong>1200 Jobs</strong>, dengan tingkat transaksi <strong>98%</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="detail-warehouse-filter">
		<div class="container">
			<div class="well">
				<img src="http://via.placeholder.com/32x32"> Carefully read the warehouse detail, and policy before rent it
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>
						<img src="http://via.placeholder.com/32x32"> Product mix based on your search
						<span>Admin, give you a discount!</span>
					</h2>
				</div>
			</div>
		</div>
	</section>

</div>

@@include('../Shared/footer.html')