@@include('../Shared/header.html')

<div class="howitworks-page">

	<section class="search-block">
		<form action="">
			<div class="search-area">
				<input type="text" class="input-search">
				<div class="label-search">
					<span>Search Warehouse</span>
					<i class="fa fa-search"></i>
				</div>
			</div>
		</form>
	</section>

	<section class="hero-banner">
		<div class="slider-area">
			<div class="slider-banner" style="background-image: url('assets/img/dummy-img-banner.png');">
				<div class="container">
					<div class="wrapper">
						<div class="desc-info">
							<h3>Lorem ipsum</h3>
							<h6>
								Dolor sit amet, consectetur <br>
								adipiscing elit
							</h6>
						</div>
					</div>
				</div>
				<!-- <div class="overlay"></div> -->
			</div>
			<div class="slider-banner" style="background-image: url('assets/img/dummy-img-banner.png');">
				<div class="container">
					<div class="wrapper">
						<div class="desc-info">
							<h3>Lorem ipsum</h3>
							<h6>
								Dolor sit amet, consectetur <br>
								adipiscing elit
							</h6>
						</div>
					</div>
				</div>
				<!-- <div class="overlay"></div> -->
			</div>
		</div>
	</section>

	<section class="tabs">
		<div class="container">
			<div class="tab-area">
				 <!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#order" aria-controls="order" role="tab" data-toggle="tab">Cara Melakukan Pemesanan</a>
					</li>
					<li role="presentation">
						<a href="#seller" aria-controls="seller" role="tab" data-toggle="tab">Cara Menjadi Penyedia Gudang</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="order">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-info-one">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#info-one" aria-expanded="true" aria-controls="info-one">
											<span>1. Collapsible Group Item #1</span>
											<i class="fa fa-angle-down"></i>
										</a>
									</h4>
								</div>
								<div id="info-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-info-one">
									<div class="panel-body">

										<div class="step-order">
											<div class="row">
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="next-step col-md-2">
													<div class="next"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="line-step col-md-12">
													<div class="line"  style="background-image: url('assets/img/arrow-next-bottom.png');"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="next-step col-md-2">
													<div class="next"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-info-two">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#info-two" aria-expanded="false" aria-controls="info-two">
											<span>2. Collapsible Group Item #2</span>
											<i class="fa fa-angle-down"></i>
										</a>
									</h4>
								</div>
								<div id="info-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-info-two">
									<div class="panel-body">
										<div class="step-order">
											<div class="row">
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="next-step col-md-2">
													<div class="next"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="line-step col-md-12">
													<div class="line"  style="background-image: url('assets/img/arrow-next-bottom.png');"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="next-step col-md-2">
													<div class="next"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-info-three">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#info-three" aria-expanded="false" aria-controls="info-three">
											<span>3. Collapsible Group Item #3</span>
											<i class="fa fa-angle-down"></i>
										</a>
									</h4>
								</div>
								<div id="info-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-info-three">
									<div class="panel-body">
										<p>
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="seller">
						<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-info-four">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion2" href="#info-four" aria-expanded="true" aria-controls="info-four">
											<span>4. Collapsible Group Item #4</span>
											<i class="fa fa-angle-down"></i>
										</a>
									</h4>
								</div>
								<div id="info-four" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-info-four">
									<div class="panel-body">
										<div class="step-order">
											<div class="row">
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="next-step col-md-2">
													<div class="next"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="line-step col-md-12">
													<div class="line"  style="background-image: url('assets/img/arrow-next-bottom.png');"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="next-step col-md-2">
													<div class="next"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-info-five">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#info-five" aria-expanded="false" aria-controls="info-five">
											<span>5. Collapsible Group Item #5</span>
											<i class="fa fa-angle-down"></i>
										</a>
									</h4>
								</div>
								<div id="info-five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-info-five">
									<div class="panel-body">
										<div class="step-order">
											<div class="row">
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="next-step col-md-2">
													<div class="next"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="line-step col-md-12">
													<div class="line"  style="background-image: url('assets/img/arrow-next-bottom.png');"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
												<div class="next-step col-md-2">
													<div class="next"></div>
												</div>
												<div class="thumb-order col-md-5">
													<div class="wrapper">
														<div class="image-area">
															<div class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></div>
														</div>
														<div class="info-area">
															<h5>1. Lorem ipsum</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-info-six">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#info-six" aria-expanded="false" aria-controls="info-six">
											<span>6. Collapsible Group Item #6</span>
											<i class="fa fa-angle-down"></i>
										</a>
									</h4>
								</div>
								<div id="info-six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-info-six">
									<div class="panel-body">
										<p>
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="banner-info has-button">
		<div class="container">
			<div class="box">
				<div class="wrapper">
					<div class="info-area">
						<h4>Infinite Warehouse to search</h4>
						<h6>
							Lorem ipsum dolor sit amet, <br>
							consectetur adipisicing elit
						</h6>
					</div>
					<a href="#" class="button">Go to Warehouse list</a>
				</div>	
			</div>
		</div>
	</section>

	<section class="faq">
		<div class="container">
			<h4 class="sub-title">Still Have some question to ask?</h4>
			<div class="row">
				<div class="col-md-8">
					<div class="faq-area">
						<div class="list-group">
							<a href="#" class="list-group-item">Cras justo odio</a>
							<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
							<a href="#" class="list-group-item">Morbi leo risus</a>
							<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						</div>
						<a href="#" class="button">Find More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="image-area">
						<div class="image" style="background-image: url('assets/img/dummy-img-thumb-list.png');"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

@@include('../Shared/footer.html')