@@include('../Shared/header.html')

<div class="homepage">

	<section class="hero-banner">
		<div class="slider-banner" style="background-image: url('assets/img/dummy-img-banner.png');">
			<div class="container">
				<div class="wrapper">
					<div class="desc-info">
						<h3>Lorem ipsum</h3>
						<h6>
							Dolor sit amet, consectetur <br>
							adipiscing elit
						</h6>
						<div class="button-area">
							<a href="#" class="button">Learn How it works</a>
						</div>
					</div>
					<div class="table-location">
						<div class="wrapper">
							<form action="catalog.html" class="search-location form-area">
								<div class="input-location">
									<h6 class="label-form">
										Input Warehouse Location
										<i class="fa fa-map-marker"></i>
									</h6>
									<div class="row">
										<div class="list-row row-long">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>
															From
															<span class="fa fa-info"></span>
														</label>
														<div class="input-text">
															<input type="text" class="form-control datepicker" placeholder="Check In Warehouse">
															<i class="icon-down fa fa-angle-down"></i>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>
															End
															<span class="fa fa-info"></span>
														</label>
														<div class="input-text">
															<input type="text" class="form-control datepicker" placeholder="Check Out Warehouse">
															<i class="icon-down fa fa-angle-down"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="list-row row-semi-long">
											<label>
												Usage Duration
												<span class="fa fa-info"></span>
											</label>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="">
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
														<select name="">
															<option value="">Hari</option>
															<option value="">Minggu</option>
															<option value="">Bulan</option>
															<option value="">Tahun</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="list-row row-sort">
											<label>
												Category
												<span class="fa fa-info"></span>
											</label>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<select name="">
															<option value="">Category 1</option>
															<option value="">Category 2</option>
															<option value="">Category 3</option>
															<option value="">Category 4</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="button-search">
									<button class="button">
										<span class="image" style="background-image: url('assets/img/dummy-img-logo2.png');"></span>
										<span class="text">Search Warehouse</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<a href="#section-two" class="scroll-down">
				<span>Scroll down for more</span>
				<i class="fa fa-angle-down"></i>
			</a>
			<!-- <div class="overlay"></div> -->
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/dummy-img-banner.png');">
			<div class="container">
				<div class="wrapper">
					<div class="desc-info">
						<h3>Lorem ipsum</h3>
						<h6>
							Dolor sit amet, consectetur <br>
							adipiscing elit
						</h6>
						<div class="button-area">
							<a href="#" class="button">Learn How it works</a>
						</div>
					</div>
					<div class="table-location">
						<div class="wrapper">
							<form action="catalog.html" class="search-location form-area">
								<div class="input-location">
									<h6 class="label-form">
										Input Warehouse Location
										<i class="fa fa-map-marker"></i>
									</h6>
									<div class="row">
										<div class="list-row row-long">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>
															From
															<span class="fa fa-info"></span>
														</label>
														<div class="input-text">
															<input type="text" class="form-control datepicker" placeholder="Check In Warehouse">
															<i class="icon-down fa fa-angle-down"></i>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>
															End
															<span class="fa fa-info"></span>
														</label>
														<div class="input-text">
															<input type="text" class="form-control datepicker" placeholder="Check Out Warehouse">
															<i class="icon-down fa fa-angle-down"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="list-row row-semi-long">
											<label>
												Usage Duration
												<span class="fa fa-info"></span>
											</label>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="">
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
														<select name="">
															<option value="">Hari</option>
															<option value="">Minggu</option>
															<option value="">Bulan</option>
															<option value="">Tahun</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="list-row row-sort">
											<label>
												Category
												<span class="fa fa-info"></span>
											</label>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<select name="">
															<option value="">Category 1</option>
															<option value="">Category 2</option>
															<option value="">Category 3</option>
															<option value="">Category 4</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="button-search">
									<button class="button">
										<span class="image" style="background-image: url('assets/img/dummy-img-logo2.png');"></span>
										<span class="text">Search Warehouse</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<a href="#section-two" class="scroll-down">
				<span>Scroll down for more</span>
				<i class="fa fa-angle-down"></i>
			</a>
			<!-- <div class="overlay"></div> -->
		</div>
	</section>
	
	<section id="section-two" class="community">
		<div class="container">
			<div class="title-area">
				<h4>
					Join The Easy and Flexibel <br>
					Community
				</h4>
				<h5>
					Explore Drop X and be the find the easiest way to to store your goods <br>
					Dolor sit amet, consectetur adipiscing elit
				</h5>
			</div>
			<div class="explore-list">
				<div class="list">
					<a href="#" class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></a>
					<h5>
						<a href="#">Unlimited Search</a>
					</h5>
				</div>
				<div class="list">
					<a href="#" class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></a>
					<h5>
						<a href="#">Maintain Your Goods Remotely</a>
					</h5>
				</div>
				<div class="list">
					<a href="#" class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></a>
					<h5>
						<a href="#">Full Report &amp; Security</a>
					</h5>
				</div>
				<div class="list">
					<a href="#" class="image" style="background-image: url('assets/img/dummy-img-thumb-square.png');"></a>
					<h5>
						<a href="#">Get User Privilege</a>
					</h5>
				</div>
			</div>
			<div class="button-area">
				<a href="#" class="button">Explore now</a>
			</div>
		</div>
	</section>

	<section class="cards">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="cards-content">
						<h4>110.600+</h4>
						<h6>Available Pallets</h6>
						<h5 class="location">
							<i class="fa fa-map-marker"></i>
							<span>Jakarta</span>
						</h4>
						<a href="#" class="overlay-click"></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="cards-content">
						<h4>320.050+</h4>
						<h6>Available Pallets</h6>
						<h5 class="location">
							<i class="fa fa-map-marker"></i>
							<span>Surabaya</span>
						</h4>
						<a href="#" class="overlay-click"></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="cards-content">
						<h4>120.000+</h4>
						<h6>Available Pallets</h6>
						<h5 class="location">
							<i class="fa fa-map-marker"></i>
							<span>Palangkaraya</span>
						</h4>
						<a href="#" class="overlay-click"></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="cards-content">
						<h4>520.050+</h4>
						<h6>Available Pallets</h6>
						<h5 class="location">
							<i class="fa fa-map-marker"></i>
							<span>Palembang</span>
						</h5>
						<a href="#" class="overlay-click"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="partners">
		<div class="container">
			<div class="title-area">
				<h4>Who Working With Us</h4>
			</div>
			<div class="partners-list">
				<div class="partners-content">
					<div class="image-area">
						<a href="#" class="image" style="background-image: url('assets/img/dummy-img-thumb.png');"></a>
					</div>
					<div class="name-area">
						<h6>
							<a href="#">PT. Perseorangan Punya I</a>
						</h6>
					</div>
				</div>
				<div class="partners-content">
					<div class="image-area">
						<a href="#" class="image" style="background-image: url('assets/img/dummy-img-thumb.png');"></a>
					</div>
					<div class="name-area">
						<h6>
							<a href="#">PT. Perseorangan Punya II</a>
						</h6>
					</div>
				</div>
				<div class="partners-content">
					<div class="image-area">
						<a href="#" class="image" style="background-image: url('assets/img/dummy-img-thumb.png');"></a>
					</div>
					<div class="name-area">
						<h6>
							<a href="#">PT. Perseorangan Punya III</a>
						</h6>
					</div>
				</div>
				<div class="partners-content">
					<div class="image-area">
						<a href="#" class="image" style="background-image: url('assets/img/dummy-img-thumb.png');"></a>
					</div>
					<div class="name-area">
						<h6>
							<a href="#">PT. Perseorangan Punya IV</a>
						</h6>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="banner-info has-button">
		<div class="container">
			<div class="box">
				<div class="wrapper">
					<div class="info-area">
						<h4>Menjadi Penyedia Gudang</h4>
						<h6>
							Lorem ipsum dolor sit amet, <br>
							consectetur adipisicing elit
						</h6>
					</div>
					<a href="#" class="button">Provide Warehouse</a>
				</div>	
			</div>
		</div>
	</section>

</div>

@@include('../Shared/footer.html')