@@include('../Shared/header.html')

<div class="homepage">

	<section class="hero-banner">
		<!-- <div class="slider-banner" style="background-image: url('assets/img/img-resto1.jpg');"> -->
		<div class="slider-banner" style="background-image: url('http://placehold.it/1200x540.jpg');">
			<div class="container">
				<div class="wrapper">
					<div class="desc-info">
						<h3>Lorem ipsum</h3>
						<h6>
							Dolor sit amet, consectetur <br>
							adipiscing elit
						</h6>
						<div class="button-area">
							<a href="#" class="button">Learn How it works</a>
						</div>
					</div>
					<div class="table-location">
						<div class="wrapper">
							<form action="" class="search-location form-area">
								<div class="input-location">
									<h6 class="label-form">
										Input Warehouse Location
										<i class="fa fa-map-marker"></i>
									</h6>
									<div class="row-long">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<div class="input-text">
														<label>
															From
															<span class="fa fa-info"></span>
														</label>
														<input type="text" class="form-control" placeholder="Check In Warehouse">
														<i class="icon-down fa fa-angle-down"></i>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<div class="input-text">
														<label>
															End
															<span class="fa fa-info"></span>
														</label>
														<input type="text" class="form-control" placeholder="Check Out Warehouse">
														<i class="icon-down fa fa-angle-down"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row-semi-long">
										<label>
											Usage Duration
											<span class="fa fa-info"></span>
										</label>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<select name="">
														<option value="">Hari</option>
														<option value="">Minggu</option>
														<option value="">Bulan</option>
														<option value="">Tahun</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row-sort">
										<label>
											Category
											<span class="fa fa-info"></span>
										</label>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<select name="">
														<option value="">Category 1</option>
														<option value="">Category 2</option>
														<option value="">Category 3</option>
														<option value="">Category 4</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="button-search">
									<button class="button">Search Warehouse</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="overlay"></div> -->
		</div>
	</section>

</div>

@@include('../Shared/footer.html')