footer {
	border-top: solid 2px $border-soft-gray;

	.foot-top {
		padding: 40px 0;
		.logo-bottom {
			max-width: 160px;
		}
	}

	.foot-bottom {
		padding: 24px 0;
		border-top: solid 1px $border-soft-gray;
	}
}