footer {
	padding: 70px 0 0;

	.wrapper {
		border-top: 1px solid $border-soft-gray;
	}

	.container {
		position: relative;
	}

	.live-chat {
		position: absolute;
		top: initial;
		bottom: 107%;
		left: initial;
		right: 0;
		z-index: 1;

		&.floating {
			position: fixed;
			bottom: 20px;
			left: 0;
		}

		.button {
			font-size: 1em;
			padding: 16px 20px 14px;
			border-radius: 10px;
			float: right;
		}

		i {
			margin: 0 0 0 10px;
			font-size: 1.2em;
		}
	}

	.foot-top {
		padding: 30px 0;

		dl {
			margin: 0;

			dt {
				margin: 0 0 5px;
			}

			dd {
				margin: 0 0 5px;
			}
		}
	}

	.logo-foot {
		margin: 20px 0 0;

		.logo-bottom {
			max-width: 160px;
			margin: 0 0 30px;
		}

		h3 {
		    margin: 0 0 10px;
		    font-size: 1.8em;
		}

		p {
			margin: 0;
			line-height: 140%;
		}
	}

	.foot-bottom {
		padding: 20px 0;
		border-top: 1px solid $border-soft-gray;
	}
}