.form-area {
	.title-area {
		margin: 0 0 24px;
		color: $white;
		
		@include breakpoint(wide) {
			padding: 0 50px;
		}

		h5 {
			font-size: 1.3em;
			line-height: 150%;
			margin: 0 0 16px;
			font-family: poppins-regular;
			
			@include breakpoint(tablet) {
				font-size: 1.4em;
			}
		}

		p {
			margin: 0;
			line-height: 150%;
			font-size: 0.9em;
		}
	}

	.form-group {
		position: relative;

		.form-control {
			outline: 0;
			box-shadow: none;
			border: 0;
			padding: 8px 16px 7px;
			height: auto;
			color: $text;
			font-size: 1em;
		    line-height: 150%;
			border-radius: 0;
			border: 1px solid $border-gray;

			&:focus {
				border-color: $tosca;
			}
		}

		::-webkit-input-placeholder {
			color: $text;
		}

		:-moz-placeholder {
			color: $text;
		}

		::-moz-placeholder {
			color: $text;
		}

		:-ms-input-placeholder {  
			color: $text;
		}

		label {
			line-height: 130%;
			display: inline-block;
			position: relative;
			font-family: 'poppins-light';
			font-size: 1.2em;
			color: $text;
		    font-weight: normal;
		    // color: $text-darkgray;
		}

		textarea {
			&.form-control {
				resize: none;
				height: 120px;
			}
		}

		.datepicker {
			cursor: pointer;
			padding-right: 36px;
		}

		.icon-down {
			position: absolute;
			top: 50%;
			bottom: initial;
			left: initial;
			right: 16px;
			font-size: 1.6em;
			pointer-events: none;
			transform: translate(0,-50%);
		}

		.icon-calendar {
			position: absolute;
			top: 50%;
			bottom: initial;
			left: initial;
			right: 16px;
			font-size: 1.2em;
			pointer-events: none;
			transform: translate(0,-50%);
		}

		.col-xs-6 {
			padding: 0 8px 0 0;

			&:last-child {
				padding: 0 0 0 8px;
			}
		}

		.input-text {
			position: relative;
		}

		.help-block {
			font-family: 'poppins-medium';
			color: $red;
			margin: 0;
			font-weight: normal;
			position: absolute;
			top: -22px;
			right: 0;
			bottom: initial;
			left: initial;
			font-size: 0.9em;
			letter-spacing: 0.5pt;
			pointer-events: none;

    		&:before {
    			font-family: 'FontAwesome';
    			margin: 0 3px 0 0;
    		}
		}

		&.has-error {
			label {
				color: $red;
			}

			.jcf-checkbox {
				border-color: $red;
			}

			#agree-error {
				font-size: 0;
			}

			.form-control {
				border-color: $red;
				padding-right: 40px;
			}

			::-webkit-input-placeholder {
				color: $red;
			}

			:-moz-placeholder {
				color: $red;
			}

			::-moz-placeholder {
				color: $red;
			}

			:-ms-input-placeholder {  
				color: $red;
			}

			.icon-down {
				color: $red;
			}
		}
	}

	.checkbox {
		label {
			padding-left: 25px;
			line-height: 150%;
		}

		.jcf-checkbox {
			position: absolute;
			top: 2px;
			left: 0;
			bottom: initial;
			right: initial;
		}
	}

	.button-area {
		margin: 16px 0 0;
		
		@include breakpoint(tablet) {
			margin: 24px 0 0;
		}

		.button {
			width: 100%;

			@include breakpoint(tablet) {
				width: auto;
			}
		}
	}
}

// SWITCH
.switch {
	position: relative;
	.jcf-radio {
		position: absolute;
	    top: 0;
	    width: 50%;
	    height: 40px;
	    border-radius: 0;
	    margin: 0;
	    left: 0;
	    background-color: $border-gray;
	    border: solid 1px $border-gray;
	    &:last-of-type {
			left: auto;
	    	right: 0;
	    	+ label {
				left: auto;
				right: 0;
	    	}
	    }
	    + label {
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	width: 50%;
	    	text-align: center;
	    	height: 40px;
	    	line-height: 40px;
	    	z-index: 1;
	    	color: $white;
	    	font-weight: normal;
	    	font-size: .9em;
	    }

	    &.jcf-checked {
	    	span {
	    		top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
	    		border-radius: 0;
	    		background-color: $white;
	    	}
	    	+ label {
	    		color: $black;
	    	}
	    }
	}
}