.community {
	text-align: center;

	.title-area {
		margin: 0 0 32px;

		h4 {
			margin: 0 0 16px;
			font-size: 1.8em;
			line-height: 140%;
			font-family: poppins-semibold;
			color: $dark-black;
		}

		h5 {
			margin: 0;
			line-height: 150%;
		}
	}

	.explore-list {
		margin: 0 0 32px;

		.list {
			display: inline-block;
			padding: 0 10px;
			width: 20%;
			vertical-align: top;

			.image {
				display: inline-block;
				width: 140px;
				height: 140px;
				margin: 0 0 16px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

			h5 {
				margin: 0;
				font-family: poppins-semibold;
			    line-height: 140%;

			    a {
					color: $dark-black;

					&:hover {
						color: $secondary;
					}
			    }
			}
		}
	}

	.button-area {
		margin: 0;

		.button {
			padding: 12px 24px 10px;
		}
	}
}

.partners {
	.title-area {
		text-align: center;
		margin: 0 0 32px;

		h4 {
			font-size: 1.8em;
			line-height: 140%;
			margin: 0;
		}
	}

	.partners-list {
		display: block;
		text-align: center;

		.partners-content {
			display: inline-block;
			vertical-align: top;
			margin: 10px 20px;
		}

		.image-area {
			margin: 0 0 10px;

			.image {
				display: inline-block;
				width: 120px;
				height: 65px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		.name-area {
			h6 {
				font-size: 1em;
				margin: 0;
			}
		}
	}
}