		</div>
		<!-- CONTAINER -->

		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="foot-top">
					<div class="row">
						<div class="col-md-6">
							<img src="assets/img/dummy-img-logo-bottom.png" class="img-responsive logo-bottom">
							<h2>Drop X Indonesia</h2>
							<p>Layanan Bantuan 24 Jam 021-8888-222</p>
						</div>
						<div class="col-md-2">
							<dl>
								<dt>Menu</dt>
								<dd><a href="javascript:void(0)" title="Warehouse List">Warehouse List</a></dd>
								<dd><a href="javascript:void(0)" title="Provide Warehouse">Provide Warehouse</a></dd>
								<dd><a href="javascript:void(0)" title="Explore">Explore</a></dd>
								<dd><a href="javascript:void(0)" title="Explore">Explore</a></dd>
								<dd><a href="javascript:void(0)" title="How It Works">How It Works</a></dd>
								<dd><a href="javascript:void(0)" title="About Us">About Us</a></dd>
								<dd><a href="javascript:void(0)" title="Terms & Condition">Terms &amp; Condition</a></dd>
							</dl>
						</div>
						<div class="col-md-2">
							<dl>
								<dt>Bahasa</dt>
								<dd><a href="javascript:void(0)" title="Bahasa Indonesia">Bahasa Indonesia</a></dd>
								<dd><a href="javascript:void(0)" title="English">English</a></dd>
							</dl>
						</div>
						<div class="col-md-2">
							<dl>
								<dt>Get Started</dt>
								<dd><a href="javascript:void(0)" title="Login">Login</a></dd>
								<dd><a href="javascript:void(0)" title="Sign Up">Sign Up</a></dd>
							</dl>
						</div>
					</div>
				</div>
				
				<div class="foot-bottom">
					<div class="row">
						<div class="col-md-12 text-center">
							COPYRIGHT OF DROP X INDONESIA 2017
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- FOOTER -->


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="assets/js/vendor.min.js" ></script>
		<script src="assets/js/plugins.min.js" ></script>
		<script src="assets/js/app.min.js" ></script>
    
	</body>
</html>